{% extends 'base.html' %}
{% block content %}
<div class="container">
  <br><br>
  <h2>Welcome: ({{ user.username }}) to your Dashboard</h2>
  <br><br>

  {% if messages %}
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
  {% endif %}

  <div class="card">

    <!-- Flex layout for cards -->
    <div class="card-container">

      <div class="card" style="background-color:#2ecc71;">
        <h2 style="color:#fff;">Daily Trucks In</h2>
        <p style="color:#fff;">{{ daily_in }}</p>
      </div>

      <div class="card" style="background-color:#e74c3c;">
        <h2 style="color:#fff;">Daily Trucks Out</h2>
        <p style="color:#fff;">{{ daily_out }}</p>
      </div>

      <div class="card" style="background-color:#3498db;">
        <h2 style="color:#fff;">Total Trucks In</h2>
        <p style="color:#fff;">{{ total_in }}</p>
      </div>

      <div class="card" style="background-color:#f39c12;">
        <h2 style="color:#fff;">Total Trucks Out</h2>
        <p style="color:#fff;">{{ total_out }}</p>
      </div>

    </div>


  </div>

  <!-- ANOTHER -->
  <div class="card">

    <!-- Flex layout for cards -->
    <div class="card-container">

      <div class="card" style="background-color:#2ecc71;">
        <h2 style="color:#fff;">Total Projects</h2>
        <p style="color:#fff;">{{ total_projects }}</p>
      </div>

      <div class="card" style="background-color:#3498db;">
        <h2 style="color:#fff;">Completed Projects</h2>
        <p style="color:#fff;">{{ completed_projects }}</p>
      </div>

      <div class="card" style="background-color: #e74c3c;">
        <h2 style="color:#fff;">Panding Task</h2>
        <p style="color:#fff;">{{ pending_tasks }}</p>
      </div>



    </div>


  </div>

</div>



{% endblock content %}